.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.article-image {
    width: 150px;
    max-width: 150px;

}

.comment-section-header {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}