{% extends '_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="col-10 ml-3 d-flex justify-content-center" style="background-color: #ffffff">
    <form class="text-center mt-5"method="post" enctype="multipart/form-data"> 
        {% csrf_token %} 
        {{ form.media}}
        {% for field in form %}
        <div class="row col-md-3 mx-auto mb-3">
            <div><label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}: </label></div>
            {{ field }}
        </div>
        {% endfor %}
        <div class="row justify-content-center">
            <input type="submit" class="btn btn-info btn-lg" value="Create"/>
        </div>
    </form>
</div>
{% endblock content %}