{% extends '_base.html' %}

{% block title %}Detail{% endblock title %}

{% block content %}
<br>
<div class="row ml-4 rounded">
    <div class="col-11 ml-4 rounded" style="background-color: #ffffff">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col col-centered">
                <div class="article-date-author-info">
                    Posted by
                    <a href="">{{article.author}}</a>
                    on {{article.date_posted|date:"D, d M, Y, H:i"}}
                </div>
                <div class="article-detail-title text-center">
                    <h2 class="article-detail-title"><b>{{article.title}}</b></h2>
                    <h3 class="article-detail-short_description">{{article.short_description}}</h3>
                    <hr>
                </div>
                <div class="article-content">
                    <p>
                        {{article.content|safe}}
                    </p>
                </div>
            </div>
        </div>
    </div>
    
   
  



</div>



<div class="row ml-5 mt-4 rounded border d-flex nowrap" style="background-color: #ffffff">
<div class="col-11 mt-4 justify-content-center">
    <div class="row">
        <div class="col-12">
            <div class="comment-section-header"><b>
                    <h4>Comment Section</h4>
                </b>
            </div>
        </div>
        </div>
            {% for comment in article.comments.all %}
            <div class="d-flex flex-row">
                <div class="col-12">

                    <div class='comment-header'>
                        Posted by <a href="#!">{{comment.author}}</a> on {{comment.date_posted|date:"D, d M, Y, H:i"}}
                    </div>

                    <div class="comment-content">
                        <p>{{comment.content}}</p>
                    </div>

                    <hr>
                </div>
            </div>
            {% endfor %}
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm">
            {% if user.is_authenticated %}
            
                <div class="col-12">
                    <br>
                    <form method="POST">
                        {% csrf_token %}
                        <textarea rows="5" cols="100" name="comment-content"
                            placeholder="Leave your thougts about this article..." class="text-center"
                            required></textarea>

                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary" margin-bottom="10px">Submit</button>
                        </div>
                        <br>
                    </form>
                </div>
            
            {% else %}
            <div class="col-12"><p>Please Sign up or Login to add comments.</p>p</div>
            {% endif %}
        </div>
        </div>
    </div>




{% endblock content %}